<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DigiCollect">

	<test name="Login">
		<classes>
			<class name="com.digicollect.qa.testcases.LoginPageTest"></class>
		</classes>
	</test>
	
	<test name="CreateCompany">
		<classes>
			<class name="com.digicollect.qa.testcases.HomePageTest"></class>
		</classes>
	</test>
	
</suite>